<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head ('끄적끄적')"></head>
<link rel="stylesheet" href="/css/board.css">
<link rel="stylesheet" href="/css/search.css">
<body>
<header th:replace="layout/header :: header"></header>
<div class="body_wrap">
    <div th:replace="layout/navi :: navi"></div>
    <div class="main">
        <div class="main_container">
            <div class="main-content">
                <div class="read-form">
                    <div class="read-content" style="margin-top: 2em;">
                        <div class="write-form-group">
                            <p class="read-content-p">제목: </p>
                            <input class="signin-form" type="text" id="title" name="title" th:value="${board.title}"
                                   disabled>
                        </div>
                        <div class="write-form-group">
                            <p class="read-content-p">작성자: </p>
                            <input class="signin-form" type="text" id="nickname" name="nickname"
                                   th:value="${board.user.nickname}" disabled>
                        </div>
                        <div class="write-form-group">
                            <p class="read-content-p">작성일: </p>
                            <input class="signin-form" type="text" id="modifiedDate" name="modifiedDate"
                                   th:value="${#temporals.format(board.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}" disabled>
                        </div>
                        <div class="write-form-group">
                            <p class="read-content-p">조회수: </p>
                            <input class="signin-form" type="text" id="views" name="views" th:value="${board.views}"
                                   disabled>
                        </div>
                        <div class="write-form-group">
                            <textarea rows="10" class="read-textarea-form" id="content" th:text="${board.content}"
                                      disabled></textarea>
                        </div>
                        <div class="button-container">
                            <button class="btn"><a href="/kkeujeok/list">목록</a></button>
                            <div th:if="${nickname == true}" class="button-container-updel">
                                <button class="btn btn-warning"><a th:href="@{/kkeujeok/update/{id}(id=${board.boardIdx})}"
                                                                   id="btn-update" style="color: #fff;">수정</a></button>
                                <button class="btn btn-danger" id="deleteBtn">삭제</button>
                            </div>
                        </div>
                    </div>
                    <div class="reply-form">
                        <h3 class="reply-info">댓글
                            <p th:text="${#lists.size(board.comments)}"></p>
                        </h3>
                        <div class="reply-container">
                            <div>
                                <form style="padding:0;">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <input id="boardIdx" type="hidden" name="boardIdx"
                                                   th:value="${board.boardIdx}">
                                            <textarea class="textarea-form" rows="2" id="replyContent"
                                                      placeholder="What are you thinking?"
                                                      style="width: -webkit-fill-available;"></textarea>
                                            <div class="reply-btn-div">
                                                <button class="btn reply-btn" id="replyBtn" type="button">등록</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="panel">
                                    <div class="panel-body">
                                        <!-- Comments -->
                                        <!--===================================================-->
                                        <input type="hidden" name="_method" value="delete">
                                        <div class="reply-block" th:each="comment : ${commentList}">
                                            <input type="hidden" name="commentIdx" id="commentIdx" th:value="${comment.commentIdx}">
                                            <a class="media-left">   <img class="img-profile"
                                                     th:src="@{'/profile_imgs/' + ${comment.user.profileImage}}">
                                            </a>
                                            <div class="media-body">
                                                <div class="mar-btm">
                                                    <a href="#" class="reply-block-link" th:text="${comment.user.nickname}"></a>
                                                    <p class="reply-block-text text-sm" th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd')}"></p>
                                                </div>
                                                <div>
                                                    <p class="text-sm" th:text="${comment.content}"></p>
                                                    <div class="reply-btn-group" th:if="${comment.user.nickname == user.nickname}">
                                                        <button class="reply-btn-group text-sm" id="replyDelBtn">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                        </svg>
                                                            삭제
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--===================================================-->
                                        <!-- End Newsfeed Content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/board.js}"></script>
</body>
</html>