<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head ('끄적끄적')"></head>
<link rel="stylesheet" href="/css/board.css">
<link rel="stylesheet" href="/css/search.css">
<body>
<header th:replace="layout/header :: header"></header>
<div class="body_wrap">
    <div th:replace="layout/navi :: navi"></div>
    <div class="main">
        <div class="main_container">
            <h3 class="read-sub-title">끄적 수정하기</h3>
            <div class="main-content">
                <div class="read-form">
                    <form>
                        <input type="hidden" name="_method" value="put">
                        <input id="boardIdx" type="hidden" name="boardIdx" th:value="${board.boardIdx}">
                        <div class="write-form-group">
                            <p class="read-content-p">제목: </p>
                            <input class="signin-form" type="text" id="title" name="title" th:value="${board.title}">
                        </div>
                        <div class="write-form-group">
                            <textarea rows="10" class="read-textarea-form" id="content" th:text="${board.content}"></textarea>
                        </div>
                    </form>
                    <div class="read-btn">
                        <button class="btn reply-btn"><a href="javascript:history.back(-1)" role="button" style="color: gray;">뒤로</a></button>
                        <button class="btn reply-btn" id="updateBtn">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/board.js}"></script>
</body>
</html>