<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>의미없는 끄적임이 즐겁다</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&display=swap" rel="stylesheet">
  <style>
        .header_wrap {
            font-family: 'Gamja Flower', cursive;
        }
        h1 {
            font-family: 'Jua', sans-serif;
        }
    </style>
</head>
<body>
<!--<header include-html="/common/title.html"></header>-->
<div class="header_wrap">
  <div class="header_container">
    <div class="header_logo">
      <a href="/">끄적끄적 :)</a>
    </div>
  </div>
</div>
<div class="body_wrap">
  <div class="login_main">
    <div class="display-table">
      <div class="display-wrap">
        <div class="main-content">
          <h1>접근 오류</h1>
          <p>접근 불가 페이지 입니다.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>